* {
  box-sizing: content-box;
}

#meme-image-container {
  border: 1px solid black;
  height: 450px;
  width: 400px;
  background-color: white;
}

p { 
  position: absolute;
  z-index: 1;
}

img {
  position: relative;
}

#meme-image {
  height: 450px;
  width: 400px;
}



